.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f0f4f8;
}

.button.boton-principal {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.label {
    -fx-font-size: 13px;
}

.table-view {
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
